.SearchForm {
  border-radius: 0.35em;
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  overflow: hidden;
}

.SearchForm input,
.SearchForm button {
  border: none;
}

.SearchForm button {
  background-color: #efefef;
  cursor: pointer;
  font-size: 1em;
  padding: 0 1em;
  transition: all 200ms ease-in-out;
}
.SearchForm button:hover {
  background-color: #e0e0e0;
}

.SearchForm input {
  flex: 1;
  font-size: 1em;
  height: 3em;
  outline: none;
  padding: 0 0.5em;
}