.App {
  background-color: #ffffff0a;
  border-radius: 1em;
  box-shadow: 2px 2px 4px #0003;
  padding: 2em;
}

.Container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.Header {
  border-bottom: 1px solid #0003;
  box-shadow: 0 3px 1px #0002;
  padding-bottom: 1rem;
}

.MetaInfo {
  font-size: 1em;
  font-weight: 400;
}

.Results {
  margin-top: 1em;
}

.Title {
  font-size: 4em;
  font-weight: 300;
}